Linptech.json
[
    {
        "id": "5a94d86eb31597b9",
        "type": "server-state-changed",
        "z": "40bd31c5a1f76805",
        "name": "获取人在状态",
        "server": "9747c76a.b2de88",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": [
            "binary_sensor.dced838bc0f7_occupancy"
        ],
        "entityidfiltertype": "list",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ed122a6309bb813d"
            ]
        ]
    },
    {
        "id": "ed122a6309bb813d",
        "type": "switch",
        "z": "40bd31c5a1f76805",
        "name": "人在判断",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "7120d006220c39ae"
            ],
            [
                "ba155cea927888d6"
            ]
        ]
    },
    {
        "id": "ba155cea927888d6",
        "type": "api-call-service",
        "z": "40bd31c5a1f76805",
        "name": "关书房吸顶灯",
        "server": "9747c76a.b2de88",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [
            "shu_fang"
        ],
        "deviceId": [],
        "entityId": [
            "light.leshi_wy0b01_3e27_light"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7120d006220c39ae",
        "type": "api-call-service",
        "z": "40bd31c5a1f76805",
        "name": "打开书房吸顶灯",
        "server": "9747c76a.b2de88",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [
            "shu_fang"
        ],
        "deviceId": [],
        "entityId": [
            "light.leshi_wy0b01_3e27_light"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9747c76a.b2de88",
        "type": "server",
        "name": "MyHome",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
